.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(229, 240, 240);
}

h1 {
  color:rgb(187, 43, 43)
}

.container1, .container2, .container3, .container4, .container5, .container6 {
  opacity: 0.1;
}
.container1:hover, .container2:hover, .container3:hover, .container4:hover, .container5:hover, .container6:hover {
  opacity: 1;
}
